<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if blog %}{{ blog.title }}|{{ site.title }} {% else %}{{ site.title }}{% endif %}</title>
    
    <meta name="keywords" content="{% if blog %}{{ blog.keywords }},{{ site.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<meta name="description" content="{% if blog %}{{ blog.summary | striptags | replace({'\n': ''}) | slice(0, 140) }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}theme/beach/css/style.css?ver={{ site.version }}">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}theme/beach/css/markdown.css?ver={{ site.version }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}feed.xml" />
    
    <!--[if IE]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
	
    <!--[if IE 6]>
	<script src="{{ site.url }}theme/beach/js/belatedPNG.js"></script>
	<script>
    	DD_belatedPNG.fix('*');
	</script>
	<![endif]-->
	
	{% if site.baiduAnalytics %}<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?{{ site.baiduAnalytics }}";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	{% endif %}
</head>

<body>
    <section id="page">
        <div id="pagewrap">
        	{% block sidebar %}{% endblock %}
        	{% block contents %}{% endblock %}
        	<div class="clear"></div>
        </div>
    </section>

{% if site.highlight %}
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.6/styles/magula.min.css">
<script src="//cdn.bootcss.com/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}

{% if site.katex %}
<link rel="stylesheet" href="//cdn.bootcss.com/KaTeX/0.6.0/katex.min.css">
<script src="//cdn.bootcss.com/KaTeX/0.6.0/katex.min.js"></script>
<script src="//cdn.bootcss.com/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
<script type="text/javascript">
render_option = {
	delimiters: [
		// 段落模式 $$...$$ \[...\]
		{left: "$$", right: "$$", display: true},
		{left: "\\[", right: "\\]", display: true},
		// 行内模式 $...$ \(...\)
		{left: "$", right: "$", display: false},
		{left: "\\(", right: "\\)", display: false}
	],
	ignoredTags: ["script", "noscript", "style", "textarea", "pre", "code"]
}
renderMathInElement(document.body, render_option);
</script>
{% elseif site.mathjax %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

</body>
</html>
