<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="{% block keywords %}{{ confObj.keywords }},{{ confObj.title }}{% endblock %}">
	<meta name="description" content="{% block description %}{{ confObj.description }}{% endblock %}">

	<!--[if lt IE 9]>
	<script src="/theme/default/js/html5.js"></script>
	<![endif]-->
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	
	<title>{% block title %}{{ confObj.title }}{% endblock %}</title>
	
	<link rel="stylesheet" href="/theme/default/css/genericons.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" href="/theme/default/css/style.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" href="/theme/default/css/markdown.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="alternate" type="application/rss+xml" title="{{ confObj.title }}" href="{{ confObj.url }}/feed.xml" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="/theme/default/css/ie.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<![endif]-->
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="/theme/default/css/ie7.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<![endif]-->
	
	<script type="text/javascript" src="/theme/default/js/jquery/jquery.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/default/js/jquery/jquery-migrate.min.js?ver={{ confObj.version }}"></script>
	
	{% if confObj.baiduAnalytics %}<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?{{ confObj.baiduAnalytics }}";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	{% endif %}

{% endblock %}
</head>

<body>
<div id="page" class="hfeed site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
	
	{% block sidebar %}{% endblock %}
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
	
</div><!-- .site -->
{% include "block/script.html" %}

{% if site.highlight %}
<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css">
<script src="http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}

{% if site.mathjax %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script type="text/javascript" src="http://cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
</body>
</html>
