<div id="content" class="site-content">
	<div id="primary" class="content-area">
        <div id="main" class="site-main" role="main">
    	{% if category %}
    	<header class="page-header">
			<h1 class="page-title">分类：{{ category.name }}</h1>
		</header><!-- .page-header -->
    	{% elseif tag %}
    	<header class="page-header">
			<h1 class="page-title">标签：{{ tag.name }}</h1>
		</header><!-- .page-header -->
    	{% elseif yearMonth %}
    	<header class="page-header">
			<h1 class="page-title">月份：{{ yearMonth.name }}</h1>
		</header><!-- .page-header -->
    	{% endif %}
    	
        {% for blog in blogList %}
        	{% if blog.title %}
        	{% include "blog/blog.html" %}
        	{% endif %}
        {% endfor %}
        
        {% include "block/nav.html" %}
        
    	</div>
    </div><!-- .content-area -->
</div><!-- .site-content -->