{% if pages > 1 %}
<nav class="navigation pagination" role="navigation">
	<h2 class="screen-reader-text">文章导航</h2>
	<div class="nav-links">
		{% if pagination.prev %}
		<a class="prev page-numbers" href="{{ pagination.prev.url }}">Previous page</a>
		{% endif %}
		
		{% for page in pagination.showList %}
			{% if page.isCurrent %}
			<span class="page-numbers current"><span class="meta-nav screen-reader-text">Page </span>{{ pageNo }}</span>
			{% else %}
        	<a class="page-numbers" href="{{ page.url }}"><span class="meta-nav screen-reader-text">Page </span>{{ page.num }}</a>
        	{% endif %}
        {% endfor %}
		
		{% if pagination.next %}
		<a class="next page-numbers" href="{{ pagination.next.url }}">Next page</a>
		{% endif %}
	</div>
</nav>
{% endif %}
