<div id="sidebar" class="sidebar">
	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
			<h1 class="site-title"><a href="{{ site.url }}" rel="home">{{ site.title }}</a></h1>
				<p class="site-description">{{ site.subtitle }}</p>
				<button class="secondary-toggle">菜单和挂件</button>
		</div><!-- .site-branding -->
	</header><!-- .site-header -->
	<div id="secondary" class="secondary">
		<div id="widget-area" class="widget-area" role="complementary">
		
			{% include "widget/categories.html" %}
		    {% include "widget/archive.html" %}
		    {% include "widget/recent.html" %}
		    {% include "widget/tagcloud.html" %}
		    {% include "widget/text.html" %}
	    </div><!-- .widget-area -->
    </div><!-- .secondary -->
</div><!-- .sidebar -->