*/config/development
*/logs/log-*.php
*/logs/log-*.log
*/logs/!index.html
*/cache/*
*/cache/!README
*/cache/!index.html
*/cache/!.htaccess
.project
.settings
/_site
/tasklist.txt
/wordpress.xml
/userList.txt
