/*
article{border-bottom:1px solid #ddd;border-top:1px solid #fff;padding:30px 0;position:relative;font-size:14px; font-size: 1.4rem}
article blockquote {font-size: 14px; font-size: 1.4rem}
article h1.title{font-weight:300;line-height:35px;margin-bottom:20px}
article h1.title a{color:#666}
article .entry-content{line-height:2;text-align:justify}
article .entry-content a:hover{text-decoration:underline}
article .entry-content .more-link{display:block;margin-top:16px;padding-left:30px;position:relative}
article .entry-content .more-link:before{content:"\f061";font:1.3em FontAwesome;line-height:1.6em;position:absolute;left:0}
article .entry-content p,article .entry-content blockquote,article .entry-content ul,article .entry-content ol,article .entry-content dl,article .entry-content table,article .entry-content iframe,article .entry-content h1,article .entry-content h2,article .entry-content h3,article .entry-content h4,article .entry-content h5,article .entry-content h6,article .entry-content .video-container{margin-top:10px}
article .entry-content ul,article .entry-content ol,article .entry-content dl{margin-left:20px}
article .entry-content ul ul,article .entry-content ul ol,article .entry-content ul dl,article .entry-content ol ul,article .entry-content ol ol,article .entry-content ol dl,article .entry-content dl ul,article .entry-content dl ol,article .entry-content dl dl{margin-top:0}
article .entry-content strong{font-weight:bold}
article .entry-content em{font-style:italic}
article .entry-content p{margin-top:10px}
article .entry-content h2{font-weight:300;border-bottom:1px solid #ddd;position:relative}
article .entry-content h2:before{content:"";position:absolute;bottom:-2px;border-bottom:1px solid #fff;width:100%}
article .entry-content img,article .entry-content video{max-width:100%;height:auto}
article .entry-content blockquote{background:#eee;border-left:5px solid #1593c9;padding:15px 20px;margin-top:10px;margin-left:0px}
article .entry-content blockquote>p:first-of-type{margin-top:0}
article .entry-content iframe{border:none}
article .entry-content table{background:#ddd;border:1px solid #ccc;border-spacing:0;margin-top:10px}
article .entry-content table th{background:#ccc;padding:0 15px}
article .entry-content table td{text-align:center}
article .entry-content table tr:nth-of-type(2n){background:#d5d5d5}
article .entry-content .caption{display:block;font-size:0.9em;color:#999;padding-left:25px;position:relative}
article .entry-content .caption:before{content:"\f040";color:#ccc;font:1.3em FontAwesome;line-height:1.6em;position:absolute;left:0}
article .entry-content .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
article .entry-content .video-container iframe,article .entry-content .video-container object,article .entry-content .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;margin-top:0}
article code,article pre{border:1px solid #ccc;font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace}
article code{font-size:0.9em;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
article pre{font-size:1/0.9em;line-height:1.5;margin-top:10px;overflow-x:auto;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
article pre code{background:none;border:none;padding:0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;white-space:pre}

*/


/* BLOCKS
=============================================================================*/

article.post {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 30px 0;
	position: relative;
	font-size: 14px;
	font-size: 1.4rem
}

article.post p, blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

/* HEADERS
=============================================================================*/

article.post h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

article.post h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

article.post h1 {
  font-size: 28px;
  color: #000;
}

article.post h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

article.post h3 {
  font-size: 18px;
}

article.post h4 {
  font-size: 16px;
}

article.post h5 {
  font-size: 14px;
}

article.post h6 {
  color: #777;
  font-size: 14px;
}

/*
body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}*/

article.post a:first-child h1, article.post a:first-child h2, article.post a:first-child h3, article.post a:first-child h4, article.post a:first-child h5, article.post a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

article.post h1+p, article.post h2+p, article.post h3+p, article.post h4+p, article.post h5+p, article.post h6+p {
  margin-top: 10px;
}

/* LINKS
=============================================================================*/

article.post a {
  color: #4183C4;
  text-decoration: none;
}

article.post a:hover {
  text-decoration: underline;
}

/* LISTS
=============================================================================*/

article.post ul, ol {
  padding-left: 30px;
}

article.post ul li > :first-child, 
article.post ol li > :first-child, 
article.post ul li ul:first-of-type, 
article.post ol li ol:first-of-type, 
article.post ul li ol:first-of-type, 
article.post ol li ul:first-of-type {
  margin-top: 0px;
}

article.post ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

article.post dl {
  padding: 0;
}

article.post dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

article.post dl dt:first-child {
  padding: 0;
}

article.post dl dt>:first-child {
  margin-top: 0px;
}

article.post dl dt>:last-child {
  margin-bottom: 0px;
}

article.post dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

article.post dl dd>:first-child {
  margin-top: 0px;
}

article.post dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

article.post pre, code, tt {
  word-wrap: initial;
  white-space: pre;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

article.post code, tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

article.post pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

article.post pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

article.post pre code, pre tt {
  background-color: transparent;
  border: none;
}

article.post kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

article.post blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
  font-size: 14px;
  font-size: 1.4rem
}

article.post blockquote>:first-child {
  margin-top: 0px;
}

article.post blockquote>:last-child {
  margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

article.post hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}

/* TABLES
=============================================================================*/

article.post table th {
  font-weight: bold;
}

article.post table th, article.post table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

article.post table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

article.post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* IMAGES
=============================================================================*/

article.post img {
  max-width: 100%
}