.mce-ico.fa {
    font-family: 'FontAwesome' !important;
}

.reveal-modal-bg {
    z-index: 9999;
}

.reveal-modal {
    position: fixed;
    display: none;
    top: 15%;
    bottom: 15%;
    background-image: none;
    padding: 0;
    width: 940px;
    margin-left: -480px;
    z-index: 10000;
}

.reveal-modal h2 {
    margin: 0 !important;
    padding: 20px !important;
    background: #1E8BC3;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 300;
}

.reveal-modal h2,
.reveal-modal .button-primary {
    background: #1e8bc3;
    background: -moz-linear-gradient(top, #1e8bc3 0%, #3291c1 47%, #1e8bc3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e8bc3), color-stop(47%, #3291c1), color-stop(100%, #1e8bc3));
    background: -webkit-linear-gradient(top, #1e8bc3 0%, #3291c1 47%, #1e8bc3 100%);
    background: -o-linear-gradient(top, #1e8bc3 0%, #3291c1 47%, #1e8bc3 100%);
    background: -ms-linear-gradient(top, #1e8bc3 0%, #3291c1 47%, #1e8bc3 100%);
    background: linear-gradient(to bottom, #1e8bc3 0%, #3291c1 47%, #1e8bc3 100%);
}

.reveal-modal .edit-content {
    padding: 20px 20px 0 20px;
    margin-bottom: 61px;
    overflow: auto;
    position: absolute;
    top: 68px;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reveal-modal .close-reveal-modal {
    color: #fff;
    top: 28px;
    right: 18px;
}

.reveal-modal .edit-bottom {
    position: absolute;
    background: #f1f1f1;
    bottom: 0;
    padding: 16px 30px;
    text-align: right;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reveal-modal .edit-bottom input {
    display: inline-block;
    margin-left: 15px;
}

.reveal-modal .wp-picker-container,
.reveal-modal .wp-picker-container *,
.reveal-modal .wp-editor-tabs * {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

#quest_icon_picker_reveal *,
#quest_button_reveal * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#quest_icon_picker_reveal .edit-content,
#quest_button_reveal .edit-content {
    top: 58px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.icon-preview {
    margin-bottom: 10px;
}

.icon-grid {
    display: none;
}

.icon-grid h3 {
    font-size: 1.2em !important;
    margin: 10px 0;
    border-top: 1px solid #e5e5e5;
    font-family: 'Open Sans', sans;
}

.fa-hover {
    display: inline-block;
    width: 22%;
    margin: 10px 1.3%;
    font-size: 1.1em;
}

.section-title {
    margin: 1em 0 0 !important;
    font-size: 20px !important;
}

.customize-control-title {
    font-weight: 300;
    margin-top: 10px;
}

.quest-plus-message {
    margin: 2em;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    border-left: 4px solid #dd3d36;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.quest-plus {
    background: #009fe3;
    display: inline-block;
    padding: 2px 4px;
    margin: 0 5px 0 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 11px;
}
