<!DOCTYPE html>
<html lang="zh-CN">
{% block head %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ confObj.title }}{% endblock %}</title>
	<meta name="keywords" content="{% block keywords %}{{ confObj.keywords }},{{ confObj.title }}{% endblock %}">
	<meta name="description" content="{% block description %}{{ confObj.description }}{% endblock %}">
	
	<link rel="stylesheet" id="quest-bootstrap-css"  href="/theme/quest/assets/plugins/bootstrap/css/bootstrap.min.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="smartmenus-css"  href="/theme/quest/assets/plugins/smartmenus/addons/bootstrap/jquery.smartmenus.bootstrap.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="font-awesome-css"  href="/theme/quest/assets/plugins/font-awesome/css/font-awesome.min.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="animate-css-css"  href="/theme/quest/assets/plugins/animate/animate.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="slit-slider-css"  href="/theme/quest/assets/plugins/FullscreenSlitSlider/css/style.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="colorbox-css"  href="/theme/quest/assets/plugins/colorbox/colorbox.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="Quest-style-css"  href="/theme/quest/css/style.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="stylesheet" id="google-fonts-css"  href="/theme/quest/css/googlecss.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<script type="text/javascript" src="/theme/quest/assets/plugins/modernizr/modernizr.custom.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/js/jquery/jquery.js?ver=1.11.2"></script>
	<script type="text/javascript" src="/theme/quest/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
	<script type="text/javascript" src="/theme/quest/js/masonry.min.js?ver=3.1.2"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/bootstrap/js/bootstrap.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/smoothscroll/SmoothScroll.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/wow/wow.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/FullscreenSlitSlider/js/jquery.ba-cond.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/FullscreenSlitSlider/js/jquery.slitslider.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/colorbox/jquery.colorbox-min.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/smartmenus/jquery.smartmenus.min.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/smartmenus/addons/bootstrap/jquery.smartmenus.bootstrap.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/plugins/smartmenus/addons/keyboard/jquery.smartmenus.keyboard.js?ver={{ confObj.version }}"></script>
	<script type="text/javascript" src="/theme/quest/assets/js/quest.js?ver={{ confObj.version }}"></script>
	<link rel="stylesheet" id="customizer-css"  href="/theme/quest/css/customizer.css?ver={{ confObj.version }}" type="text/css" media="all" />
	<link rel="alternate" type="application/rss+xml" title="{{ confObj.title }}" href="{{ confObj.url }}/feed.xml" />
	{% if confObj.baiduAnalytics %}<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?{{ confObj.baiduAnalytics }}";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	{% endif %}
{% endblock %}
</head>

<body class="home blog wide">
	<div id="page" class="hfeed site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		{% block header %} {% endblock %}
		{% block content %} {% endblock %}
		{% block footer %} {% endblock %}
	</div><!-- #page -->
	<a href="#0" class="cd-top"><i class="fa fa-angle-up"></i></a>
{% if site.highlight %}
<link rel="stylesheet" href="/static/highlight/styles/kimbie.css">
<script src="/static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
</body>
</html>