<div id="content">
	<div class="quest-row site-content">
		<div class="container">
			<div class="row">
				<div id="primary" class="content-area single col-md-9">
					<div id="main" class="site-main" role="main">
						{% include "blog/blog.html" %}
            			{% include "block/comments.html" %}
					</div>
					<!-- #main -->
				</div>
				<!-- #primary -->
				{% include "block/secondary.html" %}
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- .quest-row -->
</div>