{% extends "_layouts/default.html" %}

{% block content %}
<div class="post">
	<header class="post-header">
		<h1 class="post-title">{{ blog.title }} {% if blog.top != 0 %}<span class="top">[置顶]</span>{% endif %}</h1>
		<p class="post-meta">{{ blog.date | date('Y-m-d') }}{% if blog.author %} • {{ blog.author }}{% endif %}{% if blog.keywords %} • {{ blog.keywords | join(',') }}{% endif %}</p>
	</header>
	<article class="post-content">
		{{ blog.content | raw }}
	</article>

	{% if site.disqus %}
	<div class="post-content">
		<div id="disqus_thread"></div>
		<script>
var disqus_config = function () {
	this.page.url = location.href;
	this.page.identifier = '{{ blog.blogId }}';
};
(function() {
	var d = document, s = d.createElement('script');
	s.src = '//{{ site.disqus }}.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
		{% elseif site.youyan %}
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{site.youyan}}"></script>
<!-- UY END -->
		{% endif %}
</div>
{% endblock %}
