<!DOCTYPE html>
<html>
	{% include "_includes/head.html" %}
<body>
	{% include "_includes/header.html" %}
	<div class="page-content">
		<div class="wrapper">
			{% block content %}{% endblock %}
		</div>
	</div>
	{% include "_includes/footer.html" %}

{% if site.highlight %}
<link rel="stylesheet" href="/static/highlight/styles/magula.css">
<script src="/static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}

{% if site.mathjax %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
</body>
</html>
