{% for blog in blogList %}
<article class="published">
    <div class="row">
        <div class="one-quarter meta">
			{% set headUrl = "{{ site.url }}blog/img/logo_64x64.png" %}
        	{% if blog.head %}
        		{% set headUrl = blog.head %}
        	{% endif %}
            <div class="thumbnail"><img alt="{{ blog.author }}" src="{{ headUrl }}"></div>
            <ul>
                <li>{{ blog.author }}</li>
                <li>{{ blog.date | date("Y-m-d")}}</li>
                <li>
                    {% if attribute(blog.category, 0) %}
                    {% for category in blog.category %}  
				    <a href="{{ category.url }}">{{ category.name }}</a>
				    {% endfor %}
				    {% endif %}
                </li>
                <li>
                    {% if attribute(blog.tags, 0) %}
                    {% for tag in blog.tags %}  
				    <a href="{{ tag.url }}">{{ tag.name }}</a>
				    {% endfor %}
				    {% endif %}
                </li>
                <li></li>
            </ul>
        </div>

        <div class="three-quarters post">
            <h2><a href="{{ blog.siteURL }}">{{ blog.title }}</a></h2>
            <p>{{ blog.summary | raw }}</p>
            <ul class="actions">
                <li>
                    <a class="button" href="{{ blog.siteURL }}">继续阅读</a>
                </li>
            </ul>
        </div>
    </div>
</article>
{% endfor %}
