<article class="post">
    <header>
    	{% if pageName == "blog" %}
        <h2>{{ blog.title }}</h2>
		{% else %}
		<h2><a href="{{ blog.siteURL }}" title="{{ blog.title }}">{{ blog.title }}</a></h2>
		{% endif %}
        <p class="postinfo">{%if blog.keywords%}{{ blog.keywords }} | {% endif %}<time>{{ blog.date | date("Y-m-d")}}</time> | by <i>{{ blog.author }}</i></p>
    </header>

    <section class="entry">
        <p>
        {% if pageName == "blog" %}
		{{ blog.content | raw }}
		{% else %}
		{{ blog.summary | raw }}
		{% endif %}
		</p>
    </section>
</article>